:root {
  --hue: 250;
  --radius-large: 1rem;
  --content-delay: 150ms;
  --page-width: 75rem;
  --banner-height: 35vh;
  --banner-height-home: 65vh;
  --bannerOffset: 15vh;
  --post-card-cover-width: 28%;

  --primary: hsl(var(--hue), 70%, 55%);
  --page-bg: hsl(var(--hue), 15%, 96%);
  --card-bg: white;
  --btn-content: hsl(var(--hue), 60%, 45%);
  --btn-regular-bg: hsl(var(--hue), 25%, 94%);
  --btn-regular-bg-hover: hsl(var(--hue), 35%, 88%);
  --btn-regular-bg-active: hsl(var(--hue), 45%, 82%);
  --btn-plain-bg-hover: hsl(var(--hue), 25%, 94%);
  --btn-plain-bg-active: hsl(var(--hue), 10%, 97%);
  --btn-card-bg-hover: hsl(var(--hue), 8%, 97%);
  --btn-card-bg-active: hsl(var(--hue), 25%, 88%);
  --enter-btn-bg: var(--btn-regular-bg);
  --enter-btn-bg-hover: var(--btn-regular-bg-hover);
  --enter-btn-bg-active: var(--btn-regular-bg-active);
  --deep-text: hsl(var(--hue), 8%, 25%);
  --title-active: hsl(var(--hue), 55%, 50%);
  --line-divider: rgba(0, 0, 0, 0.08);
  --line-color: rgba(0, 0, 0, 0.1);
  --meta-divider: rgba(0, 0, 0, 0.2);
  --inline-code-bg: var(--btn-regular-bg);
  --inline-code-color: var(--btn-content);
  --selection-bg: hsl(var(--hue), 35%, 88%);
  --codeblock-bg: hsl(var(--hue), 10%, 17%);
  --codeblock-topbar-bg: hsl(var(--hue), 12%, 30%);
  --license-block-bg: rgba(0, 0, 0, 0.03);
  --link-underline: hsl(var(--hue), 30%, 90%);
  --link-hover: hsl(var(--hue), 25%, 94%);
  --link-active: hsl(var(--hue), 35%, 88%);
  --float-panel-bg: white;
  --scrollbar-bg-light: rgba(0, 0, 0, 0.4);
  --scrollbar-bg-hover-light: rgba(0, 0, 0, 0.5);
  --scrollbar-bg-active-light: rgba(0, 0, 0, 0.6);
  --scrollbar-bg-dark: rgba(255, 255, 255, 0.4);
  --scrollbar-bg-hover-dark: rgba(255, 255, 255, 0.5);
  --scrollbar-bg-active-dark: rgba(255, 255, 255, 0.6);
  --scrollbar-bg: var(--scrollbar-bg-light);
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-light);
  --scrollbar-bg-active: var(--scrollbar-bg-active-light);
  --color-selection-bar: linear-gradient(
    to right,
    hsl(0, 70%, 55%),
    hsl(30, 75%, 55%),
    hsl(60, 75%, 55%),
    hsl(120, 60%, 55%),
    hsl(210, 70%, 55%),
    hsl(270, 70%, 55%),
    hsl(330, 70%, 55%)
  );
  --toc-badge-bg: hsl(var(--hue), 35%, 85%);
  --toc-btn-hover: hsl(var(--hue), 12%, 93%);
  --toc-btn-active: hsl(var(--hue), 12%, 88%);
  --toc-width: calc((100vw - var(--page-width)) / 2 - 1rem);

  --admonitions-color-tip: hsl(180, 65%, 55%);
  --admonitions-color-note: hsl(250, 70%, 55%);
  --admonitions-color-important: hsl(310, 65%, 55%);
  --admonitions-color-warning: hsl(60, 75%, 55%);
  --admonitions-color-caution: hsl(25, 75%, 55%);
}

:root.dark {
  --primary: hsl(var(--hue), 70%, 65%);
  --page-bg: hsl(var(--hue), 12%, 16%);
  --card-bg: hsl(var(--hue), 12%, 22%);
  --btn-content: hsl(var(--hue), 60%, 55%);
  --btn-regular-bg: hsl(var(--hue), 15%, 32%);
  --btn-regular-bg-hover: hsl(var(--hue), 16%, 36%);
  --btn-regular-bg-active: hsl(var(--hue), 17%, 40%);
  --btn-plain-bg-hover: hsl(var(--hue), 14%, 28%);
  --btn-plain-bg-active: hsl(var(--hue), 12%, 25%);
  --btn-card-bg-hover: hsl(var(--hue), 14%, 28%);
  --btn-card-bg-active: hsl(var(--hue), 15%, 32%);
  --deep-text: hsl(var(--hue), 20%, 80%);
  --line-divider: rgba(255, 255, 255, 0.08);
  --line-color: rgba(255, 255, 255, 0.1);
  --meta-divider: rgba(255, 255, 255, 0.2);
  --selection-bg: hsl(var(--hue), 35%, 40%);
  --license-block-bg: var(--codeblock-bg);
  --link-underline: hsl(var(--hue), 30%, 35%);
  --link-hover: hsl(var(--hue), 30%, 40%);
  --link-active: hsl(var(--hue), 28%, 32%);
  --float-panel-bg: hsl(var(--hue), 10%, 20%);
  --scrollbar-bg: var(--scrollbar-bg-dark);
  --scrollbar-bg-hover: var(--scrollbar-bg-hover-dark);
  --scrollbar-bg-active: var(--scrollbar-bg-active-dark);
  --color-selection-bar: linear-gradient(
    to right,
    hsl(0, 70%, 55%),
    hsl(30, 75%, 55%),
    hsl(60, 75%, 55%),
    hsl(120, 60%, 55%),
    hsl(210, 70%, 55%),
    hsl(270, 70%, 55%),
    hsl(330, 70%, 55%)
  );
  --toc-badge-bg: var(--btn-regular-bg);
  --toc-btn-hover: hsl(var(--hue), 12%, 22%);
  --toc-btn-active: hsl(var(--hue), 12%, 26%);

  --admonitions-color-tip: hsl(180, 65%, 60%);
  --admonitions-color-note: hsl(250, 70%, 60%);
  --admonitions-color-important: hsl(310, 65%, 60%);
  --admonitions-color-warning: hsl(60, 75%, 60%);
  --admonitions-color-caution: hsl(25, 75%, 60%);
}
